*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*------containerBody----------------------------*/
#containerBody{
    display: flex;
    justify-content: center;
    background: linear-gradient(#e7e7f8e4 55%, #EFEFFF);
}
/*------textBody--------------------------------*/
.textBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    gap: 2rem;
}
.textBody h4{
    color: rgba(201, 32, 113, 1);
    font-size: 1.2rem;
}
.textBody h1{
    width: 25vw;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.iconChama{
    height: 7vh;
}
.textBody p{
    font-size: 1.1rem;
    font-weight: 400;
    height: 7vh;
    width: 25vw;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
.textBody button{
    height: 5.5vh;
    width: 11vw;
    font-weight: 600;
    background-color: rgba(201, 32, 113, 1);
    color: white;
    border: none;
    border-radius: 0.5rem;
}
/*--------tenisNikeAir-----------------------*/
.tenisNikeAir{
    height: 80vh;
}
/*--------ornamento--------------------------*/
.ornamento{
    height: 25vh;
    margin-top: 4rem;
}
/*--------containerDestaques------------*/
.containerDestaques{
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    gap: 4vh;
    background: linear-gradient(#ededf9e4 55%, #EFEFFF);
}
.titleDestaques{
    font-size: 2rem;
    width: 20vw;
    margin-left: 11.5vw;
}
/*--------containerCardsDestaques------------*/
.containerCardsDestaques{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 2rem;
}
#card{
    display: flex;
    justify-content: flex-end;
    width: 24vw;
    background-color: #D8E3F2;
    border-radius: 1rem;
}
.imgCard{
    height: 100%;
}
.containerInforcaoDesconto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 10rem;
    margin-top: 6vh;
    height: 30vh;
    width: 15vw;
    z-index: 999;
    position: absolute;

}
.subtilteCardDestaques{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #E7FF86;
    width: 5vw;
    height: 4vh;
    border-radius: 1.5rem;
}
.titleInfoDesc{
    font-size: 2.8rem;
}
.btnCardDestaque{
    height: 7vh;
    width: 8vw;
    font-size: 1.4rem;
    font-weight: 600;
    color: #C92071;
    background-color: #F5F5F5;
    border: none;
    border-radius: 0.5rem;
}
/*--------SubcontainerDestaques------------*/
.subcontainerDestaques{
    height: 35vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(#ededf9e4 55%, #EFEFFF);
}
.subtitleDestaques{
    font-size: 2rem;
    width: 20vw;
}
.subCardsDestaques{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 15vh;
    padding-right: 1.5vw;
    gap: 5rem;
}
.subCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.descricaoSubCard{
    font-size: 1.1rem;
    font-weight: 500;
}
.imgSubCardsDestaques{
    filter: grayscale(100%);
    height: 10vh;
}
.imgSubCardsDestaques:hover {
    filter: brightness(0) invert(23%) sepia(100%) saturate(1645%) hue-rotate(331deg) brightness(90%) contrast(84%);
    cursor: pointer;
}
/*------containerProdutosEmAlta----------------*/
.containerProdutosEmAlta{
    background: linear-gradient(#ededf9e4 55%, #EFEFFF);
    padding-top: 6rem;
    height: 65rem;
}
.titleSubtitleProdutosEmAlta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
    padding-right: 8rem;
}
.titleProdutosEmAlta{
    font-size: 1.6rem;
}
.subTitleProdutosEmAlta{
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    cursor: pointer;
}
.subTitleProdutosEmAlta:hover {
    color: #C92071;
    font-weight: 600;
}
.subTitleProdutosEmAlta img{
    height: 1.5rem;
}
.subTitleProdutosEmAlta:hover img {
    filter: sepia(1) saturate(10000%) hue-rotate(-50deg);
}
/*------cardProdutosEmAlta------------------------*/
.produtosEmAlta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    gap: 2rem;
}
/*--------ofertaEspecial---------------------------*/
.containerOfertaEspecial{
    display: flex;
    height: 50rem;
    justify-content: space-between;
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 6rem; 
}
.imgOfertaEspecial{
    position: relative;
    overflow: hidden;
}
.imgOfertaEspecial img{
    height: 30rem;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5rem;
}
.backgroundImg{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    height: 40rem;
    background: linear-gradient(to bottom, rgba(66, 0, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 50%;
}
.ofertaEspecial{
    width: 50rem;
    display: flex;flex-direction: column;
    gap: 1rem;
}
.ofertaEspecial h4 {
    font-size: 1.2rem;
    color: #C92071;
}
.ofertaEspecial h1{
    font-size: 4.2rem;
    color: rgba(71, 71, 71, 1);
}
.ofertaEspecial p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.ofertaEspecial button{
    height: 3rem;
    width: 14rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #C92071;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}